:root
  --back-color #222222
body
  background-color var(--back-color)
  color #DDDDDD
  #app
    #leftMenu
      background-color #333333
.hover-step
  &:hover
    background-color #2A2A2A
.hover-step0
  &:hover
    background-color #3B3B3B
.hover-step1
  &:hover
    background-color #4C4C4C
.hover-step2
  &:hover
    background-color #5F5F5F
.hover-step3
  &:hover
    background-color #707070
.default-step
  background-color #2A2A2A
.default-step0
  background-color #3B3B3B
.default-step1
  background-color #4C4C4C
.default-step2
  background-color #5F5F5F
.default-step3
  background-color #707070

