:root
  --back-color #FFFFFF
body
  background-color #FFFFFF
  color #222222
  #app
    #leftMenu
      background-color #EEEEEE
.hover-step
  &:hover
    background-color #F4F4F4
.hover-step0
  &:hover
    background-color #E3E3E3
.hover-step1
  &:hover
    background-color #D2D2D2
.hover-step2
  &:hover
    background-color #C1C1C1
.hover-step3
  &:hover
    background-color #B0B0B0
.default-step
  background-color #F4F4F4
.default-step0
  background-color #E3E3E3
.default-step1
  background-color #D2D2D2
.default-step2
  background-color #C1C1C1
.default-step3
  background-color #B0B0B0
