@font-face
  font-family 'fen-yuan'
  src url('@/assets/font/fenyuan.ttf')
@font-face
  font-family 'JetBrainsMono'
  src url('@/assets/font/JetBrainsMono-Bold.ttf')
@font-face
  font-family 'shou-jin'
  src url('@/assets/font/shoujin.ttf')
